
.centered {
  margin: auto;
  width: 25%;
  text-align: center;
}

body {
  background-color: #ebc150;
  text-align: center;
  #container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.control-label {
  font-family: "Lucinda Console", Monaco, monospace;
  font-size: 36px;
}

.time-display {
  font-family: digital;
  font-size: 80px;
}

#main-title {
  font-family: "Lucinda Console", Monaco, monospace;
  font-size: 50px
}

.length-control {
  display: inline-block;
}
